@import "./../../styles/globales.scss";
@import "./../../styles/brakpoints.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1.5rem;
  @include media(tablet) {
    flex-direction: row;
    min-height: 100vh;
  }
  @include media(desktop-lg) {
    min-height: 100vh;
  }
}

.about-img {
  width: 55%;
  display: block;
  box-sizing: inherit;
  @include media(tablet) {
    margin-right: 1.5rem;
  }
  @include media(desktop-lg) {
    width: 25%;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.about-info {
  width: 95%;
  margin: 5% auto;
  font-size: 0.9rem;
  padding-right: 0.5rem;
  @include media(tablet) {
    margin: 0;
    font-size: 1.1rem;
  }
  @include media(desktop-lg) {
    width: 40%;
  }
  &_name {
    font-weight: bold;
    font-size: 1.1rem;
    @include media(tablet) {
      font-size: 1.3rem;
    }
    @include media(desktop-lg) {
      font-size: 1.5rem;
    }
    span {
      color: $main-color;
    }
  }
  &_resume {
    margin: 0.3rem 0;
  }
  &_description {
    margin-bottom: 0.5rem;
  }
  &_contact {
    margin-bottom: 0.8rem;
  }
}
