@import "./../../../styles/globales.scss";

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 1em;
  span {
    margin: 0 1%;
    color: $main-color;
  }
}
