@import "./../../styles/globales.scss";
@import "./../../styles/brakpoints.scss";

.portafolio {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.portafolio-filters {
  padding: 2% 5%;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  align-items: center;
  @include media(tablet) {
    justify-content: center;
    flex-wrap:nowrap;
    gap: 1rem;
  }

}


.proyect{
  padding: 1em;
  // background: #1e1535;

  // .container {
          
  // }

  .container-proyectos {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1em;
  
    @include media(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
       grid-template-areas: "card card image";
      grid-gap: 50px;
    }
    @include media(desktop-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
  
}


